/* ----- Global Variables SASS ----- */
/* Base Colors */
/* Stock Colors */
/* Code Colors */
/* CSS */
/* HTML5 */
/* Transitions porpertys */
/* Shadows Propertys */
/* ----- __The Document__ ----- */
.doc {
  background-color: #fefefe;
}

/* ---------- Main Section ---------- */
.doc-main {
  margin: 5px 10px;
  border-top: 3px outset #002266;
  border-bottom: 3px outset #002266;
  border-right: 6px double #002266;
  border-left: 6px double #002266;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fefefe;
  /* Flex Properties */
  display: flex;
  /* Flex */
  flex-direction: row;
  flex-wrap: wrap;
}

/* ----- Index of the Document ----- */
.main-index {
  width: 300px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 0.5em;
  padding: 10px;
  background-color: #1510dd;
  box-shadow: 2px 1px 5px #343434;
  /* Flex Properties */
  align-self: flex-start;
  /* Title of the Index */
  /*List of the index */
}
.main-index .main-index__title {
  padding-inline-start: 5px;
  color: #f0f0f0;
  text-shadow: 2px 2px 2px #343434;
}
.main-index .index-list {
  margin: 5px;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #009dff;
  box-shadow: 2px 1px 5px #343434;
  /* Flex Properties */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* Objects in the list "ol > li" */
}
.main-index .index-list .index-list__title {
  padding-inline-start: 25px;
  color: #f0f0f0;
  text-shadow: 2px 2px 2px #343434;
}
.main-index .index-list .list-object {
  width: 75%;
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 0.25em;
  padding-inline-start: 10px;
  background-color: #000080;
  color: #f0f0f0;
  list-style-position: inside;
  text-shadow: 2px 2px 2px #343434;
  box-shadow: 2px 1px 5px #343434;
  transition: 500ms width, border-radius, background-color, color, text-decoration;
  /* Links in the List Object */
}
.main-index .index-list .list-object:hover {
  width: 90%;
  border-radius: 0.5em;
  text-decoration: underline #1510dd solid;
}
.main-index .index-list .list-object:hover .list-object__link {
  text-decoration: inherit;
}
.main-index .index-list .list-object .list-object__link {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: #fefefe;
  display: inline-block;
  transition: 500ms width, border-radius, background-color, color, text-decoration;
}
.main-index .index-list .list-miniList {
  width: 75%;
  margin-inline-start: 5px;
  border-radius: 0.5em;
  padding: 5px;
  background-color: #000080;
  box-shadow: 2px 1px 5px #343434;
  transition: 500ms width, border-radius, background-color, color, text-decoration;
}
.main-index .index-list .list-miniList .miniList-object {
  width: 70%;
  margin: 5px;
  margin-inline-start: 20px;
  border-radius: 0.25em;
  background-color: #1510dd;
  color: #f0f0f0;
  list-style-position: inside;
  text-shadow: 2px 2px 2px #343434;
  transition: 500ms width, border-radius, background-color, color, text-decoration;
}
.main-index .index-list .list-miniList .miniList-object:hover {
  width: 90%;
  border-radius: 0.5em;
  text-decoration: underline #80d4ff solid;
}
.main-index .index-list .list-miniList .miniList-object:hover .miniList-object__link {
  text-decoration: inherit;
}
.main-index .index-list .list-miniList .miniList-object .miniList-object__link {
  margin: 5px;
  padding: 5px;
  color: #fefefe;
  transition: 500ms width, border-radius, background-color, color, text-decoration;
}

/* ----- Sections - Flexbox ----- */
.main-section {
  width: 70%;
  margin: 5px 10px;
  /* Flex Properties */
  flex-grow: 10;
  /* Articles in the section */
}
.main-section .section-article {
  margin-top: 10px;
  margin-bottom: 10px;
  /* title of the article */
  /* --- Content of the article --- */
}
.main-section .section-article .section-article__title {
  width: 500px;
  margin-inline-start: 5px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-inline-start: 15px;
  background-color: #000080;
  color: #fefefe;
  font-size: 32px;
  font-weight: 800;
  text-shadow: 2px 2px 2px #343434;
  display: inline-block;
}
.main-section .section-article .article-content {
  border: 3px outset #000080;
  border-radius: 0.25em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  /* -- Paragraphs in the Article -- */
  /* -- List of the Article -- */
  /* -- External Sources of the Article -- */
  /*
   - Images,
   - Videos,
   - Audios,
   - Others...
  */
  /* ----- Code Examples ----- */
  /* ----- Examples ----- */
  /* ALL Examples */
  /* Example of Flex Container and Flex Items */
  /* Example of Center Align Things using FlexBox */
  /* Example of Aligning Inline-Elements with Flexbox */
  /* Example of spaced Align with flexbox */
  /* Example Display Flexbox */
  /* Example flex-direction */
  /* Example of flex-wrap */
  /* Example of Flex-Flow */
  /* Example of Justify Content */
  /* Example of align-items */
  /* Example of Align-Content */
  /* Example of Order */
  /* Example of Flex-Grow */
  /* Example of Flex-Shrink */
  /* Example of Flex-Basis */
  /* Example of FLEX */
  /* -/=/=/- SPACE FOR OTHER EXAMPLE -/=/=/- */
}
.main-section .section-article .article-content .content-paragraph {
  padding-left: 5px;
  color: #000;
  font-size: 16px;
  font-weight: 450;
  line-height: 1.25;
  text-align: justify;
  /* Semantic Tags in the paragraph */
}
.main-section .section-article .article-content .content-paragraph abbr {
  padding: 0 2px;
  font-weight: 1000;
  text-decoration: underline #000080 solid;
}
.main-section .section-article .article-content .content-paragraph abbr:hover {
  border-radius: 0.25em;
  background-color: #80d4ff;
}
.main-section .section-article .article-content .content-paragraph i {
  font-size: 18px;
}
.main-section .section-article .article-content .content-paragraph strong {
  font-weight: 1000;
  text-decoration: underline #1510dd solid 1px;
}
.main-section .section-article .article-content .content-paragraph--title {
  width: 20%;
  border: 2px solid #1510dd;
  border-radius: 0.25em;
  border-top-right-radius: 1em;
  padding: 2px;
  padding-inline-start: 15px;
  background-color: #000080;
  color: #fefefe;
  font-size: 20px;
  font-weight: 1000;
}
.main-section .section-article .article-content .content-paragraph--semiTitle {
  padding: 5px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 800;
}
.main-section .section-article .article-content .content-list {
  width: 70%;
  margin: 0 20px;
  border: 4px solid #000080;
  border-radius: 0.5em;
  padding: 10px;
  background-color: #fefefe;
  box-shadow: 2px 1px 5px #343434;
  list-style-position: inside;
}
.main-section .section-article .article-content .content-list .list-object {
  border: 2px solid #1510dd;
  border-radius: 0.25em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  padding-inline-start: 10px;
  background-color: #1510dd;
  box-shadow: 2px 1px 5px #343434;
}
.main-section .section-article .article-content .content-list .list-object::marker {
  color: #b3f0ff;
  margin: 5px 0;
}
.main-section .section-article .article-content .content-list .list-object .list-object__title {
  margin: 5px 0;
  color: #fefefe;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 2px 2px 2px #343434;
  display: inline-block;
}
.main-section .section-article .article-content .content-list .list-object .list-object__title span {
  color: #b3f0ff;
}
.main-section .section-article .article-content .content-list .list-object .object-paragraph {
  padding: 10px;
  padding-left: 5px;
  color: #000;
  font-size: 14px;
  font-weight: 450;
  line-height: 1.25;
  background-color: #fefefe;
  text-align: justify;
  /* Semantic Tags in the paragraph */
}
.main-section .section-article .article-content .content-list .list-object .object-paragraph abbr {
  padding: 0 2px;
  font-weight: 1000;
  text-decoration: underline #000080 solid;
}
.main-section .section-article .article-content .content-list .list-object .object-paragraph abbr:hover {
  border-radius: 0.25em;
  background-color: #80d4ff;
}
.main-section .section-article .article-content .content-list .list-object .object-paragraph i {
  font-size: 16px;
}
.main-section .section-article .article-content .content-list .list-object .object-paragraph strong {
  font-weight: 1000;
  text-decoration: underline #1510dd solid 1px;
}
.main-section .section-article .article-content .content-source {
  margin: 10px;
  border: 4px solid #000080;
  border-radius: 0.5em;
  padding: 10px;
  background-color: #1510dd;
  /* Flex Properties */
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  /* ---- Images ---- */
  /* All Images */
  /* The Underlying Concept Image */
  /* Flexbox Supports on Diferents Browsers */
  /* ---- Text/Cite/Quotes on Sources ---- */
}
.main-section .section-article .article-content .content-source .content-source__img {
  margin-top: 10px;
  margin-bottom: 0;
  border: 2px solid #000080;
  border-radius: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #000080;
  /* Flex Properties */
  flex-grow: 5;
  display: block;
}
.main-section .section-article .article-content .content-source .content-source--UnderlyingConcept__img {
  width: 512px;
  height: 212px;
}
.main-section .section-article .article-content .content-source .content-source--FlexboxSupports__img {
  width: 800px;
  height: 200px;
}
.main-section .section-article .article-content .content-source .source-text {
  border: 2px solid #000080;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fefefe;
  color: #000;
  font-size: 12px;
  font-weight: 200;
}
.main-section .section-article .article-content .content-source .source-text .source-text__quote {
  color: #343434;
  font-weight: 50;
}
.main-section .section-article .article-content .content-source .source-text .source-text__link {
  color: #1510dd;
}
.main-section .section-article .article-content .content-code {
  width: 90%;
  margin: 10px auto;
  border: 2px solid #000;
  border-left: 8px solid #000080;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #343434;
  /* ---- Style in CSS's Code ---- */
  /* All the CSS code */
  /* All the HTML5 code */
  /* Code Indetation */
}
.main-section .section-article .article-content .content-code .content-code__title {
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  border: 2px solid #002266;
  border-radius: 0.25em;
  border-bottom-right-radius: 1em;
  padding-inline-start: 20px;
  background-color: #000080;
  color: #f0f0f0;
  font-size: 28px;
  /* Flex Properties */
  display: flex;
  align-items: center;
}
.main-section .section-article .article-content .content-code .content-code__title abbr {
  text-decoration: none;
}
.main-section .section-article .article-content .content-code .code-css {
  /* CSS Selectors */
  /* CSS Comments */
  /* CSS Properties */
  /* CSS Brackets */
}
.main-section .section-article .article-content .content-code .code-css .css-selector {
  color: #ffd24d;
}
.main-section .section-article .article-content .content-code .code-css .css-commentary {
  color: #959595;
}
.main-section .section-article .article-content .content-code .code-css .css-properties {
  color: #f2f2f2;
}
.main-section .section-article .article-content .content-code .code-css .css-bracket {
  color: #eee;
}
.main-section .section-article .article-content .content-code .code-html5 {
  /* HTML5 general stuff (<, >, =, /, etc) */
  color: #bfbfbf;
  /* HTML5 tags */
  /* HTML5 Atributes */
}
.main-section .section-article .article-content .content-code .code-html5 .html5-tag {
  color: #b00;
}
.main-section .section-article .article-content .content-code .code-html5 .html5-tag--content {
  color: #f2f2f2;
}
.main-section .section-article .article-content .content-code .code-html5 .html5-atribute {
  color: #ff8c1a;
}
.main-section .section-article .article-content .content-code .code-html5 .html5-atribute--value {
  color: #66ff33;
}
.main-section .section-article .article-content .content-code .code-html5 .html5-commentary {
  color: #aaa;
}
.main-section .section-article .article-content .content-code .code--idented-1 {
  padding-inline-start: 20px;
}
.main-section .section-article .article-content .content-example {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  /* Flex Properties */
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.main-section .section-article .article-content .content-example .example-flexContainer {
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 4px dashed #000080;
  border-radius: 0.5em;
  background-color: #fefefe;
  /* Flex Properties */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-section .section-article .article-content .content-example .example-flexContainer .light {
  background-color: #b3f0ff;
  color: #343434;
}
.main-section .section-article .article-content .content-example .example-flexContainer .base {
  background-color: #009dff;
  color: #000;
}
.main-section .section-article .article-content .content-example .example-flexContainer .dark {
  background-color: #002266;
  color: #fefefe;
}
.main-section .section-article .article-content .content-example--list {
  padding: 10px;
  background-color: #fefefe;
}
.main-section .section-article .article-content .flexContainer-example .example-flexContainer {
  width: 700px;
  height: 200px;
  border: 5px solid #002266;
  border-radius: 0.5em;
  background-color: #002266;
}
.main-section .section-article .article-content .flexContainer-example .example-flexContainer .example-flexContainer__text {
  color: #fefefe;
  font-size: 32px;
  text-shadow: 2px 2px 2px #343434;
}
.main-section .section-article .article-content .flexContainer-example .example-flexContainer .flexContainer-flexItems {
  height: 100px;
  width: 100px;
  padding: 5px;
  border-radius: 0.5em;
  background-color: #1510dd;
  /* Flex Properties */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section .section-article .article-content .flexContainer-example .example-flexContainer .flexContainer-flexItems .flexContainer-flexItems__text {
  color: #fefefe;
  font-weight: bold;
  text-shadow: 2px 2px 2px #343434;
}
.main-section .section-article .article-content .centerAlign-example .example-flexContainer {
  /* Flex Properties */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section .section-article .article-content .centerAlign-example .example-flexContainer .flexContainer-flexItem {
  width: 50px;
  height: 50px;
  border-radius: 0.25em;
  background-color: #80d4ff;
}
.main-section .section-article .article-content .inlineAlign-example .example-flexContainer .flexContainer-flexItem {
  width: 20%;
  height: 50px;
  display: inline;
}
.main-section .section-article .article-content .spacedAlign-example .example-flexContainer {
  /* Flex Properties */
  justify-content: space-around;
}
.main-section .section-article .article-content .spacedAlign-example .example-flexContainer .flexContainer-flexItems {
  height: 25px;
  width: 25px;
  border-radius: 0.25em;
}
.main-section .section-article .article-content .blockFlex-example {
  /* Normal Flex display */
  /* Inline Flex display */
}
.main-section .section-article .article-content .blockFlex-example .example-flexContainer .flexContainer-flexItems {
  height: 50px;
  width: 50px;
}
.main-section .section-article .article-content .blockFlex-example .blockFlex {
  /* Flex Properties */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-section .section-article .article-content .blockFlex-example .inlineFlex {
  /* Flex Properties */
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.main-section .section-article .article-content .direction-example .example-flexContainer {
  /* Flex Properties */
  display: flex;
  justify-content: space-evenly;
}
.main-section .section-article .article-content .direction-example .example-flexContainer .flexContainer-flexItems {
  width: 40px;
  height: 40px;
}
.main-section .section-article .article-content .direction-example .row {
  flex-direction: row;
}
.main-section .section-article .article-content .direction-example .row-reverse {
  flex-direction: row-reverse;
}
.main-section .section-article .article-content .direction-example .column {
  flex-direction: column;
}
.main-section .section-article .article-content .direction-example .column-reverse {
  flex-direction: column-reverse;
}
.main-section .section-article .article-content .wrap-example .example-flexContainer .flexContainer-flexItems {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.main-section .section-article .article-content .wrap-example .nowrap {
  flex-wrap: nowrap;
}
.main-section .section-article .article-content .wrap-example .wrap {
  flex-wrap: wrap;
}
.main-section .section-article .article-content .wrap-example .wrap-reverse {
  flex-wrap: wrap-reverse;
}
.main-section .section-article .article-content .flow-example .example-flexContainer .flexContainer-flexItems {
  height: 30px;
  width: 30px;
}
.main-section .section-article .article-content .flow-example .row-nowrap {
  flex-flow: row nowrap;
}
.main-section .section-article .article-content .flow-example .row-wrap {
  flex-flow: row wrap;
}
.main-section .section-article .article-content .flow-example .column-nowrap {
  flex-flow: column nowrap;
}
.main-section .section-article .article-content .flow-example .column-wrap {
  flex-flow: column wrap;
}
.main-section .section-article .article-content .justifyContent-example .example-flexContainer .flexContainer-flexItems {
  width: 35px;
  height: 35px;
  border-radius: 0.5em;
}
.main-section .section-article .article-content .justifyContent-example .flex-start {
  justify-content: flex-start;
}
.main-section .section-article .article-content .justifyContent-example .flex-end {
  justify-content: flex-end;
}
.main-section .section-article .article-content .justifyContent-example .start {
  justify-content: start;
}
.main-section .section-article .article-content .justifyContent-example .end {
  justify-content: end;
}
.main-section .section-article .article-content .justifyContent-example .right {
  justify-content: right;
}
.main-section .section-article .article-content .justifyContent-example .left {
  justify-content: left;
}
.main-section .section-article .article-content .justifyContent-example .center {
  justify-content: center;
}
.main-section .section-article .article-content .justifyContent-example .space-between {
  justify-content: space-between;
}
.main-section .section-article .article-content .justifyContent-example .space-around {
  justify-content: space-around;
}
.main-section .section-article .article-content .justifyContent-example .space-evenly {
  justify-content: space-evenly;
}
.main-section .section-article .article-content .alignItems-example .example-flexContainer .flexContainer-flexItems {
  width: 60px;
  height: 60px;
}
.main-section .section-article .article-content .alignItems-example .flex-start {
  align-items: flex-start;
}
.main-section .section-article .article-content .alignItems-example .flex-end {
  align-items: flex-end;
}
.main-section .section-article .article-content .alignItems-example .center {
  align-items: center;
}
.main-section .section-article .article-content .alignItems-example .stretch {
  align-items: stretch;
}
.main-section .section-article .article-content .alignItems-example .stretch .flexContainer-flexItems {
  height: auto;
}
.main-section .section-article .article-content .alignItems-example .baseline {
  height: auto;
  align-items: baseline;
}
.main-section .section-article .article-content .alignItems-example .baseline .hello {
  font-size: 20px;
}
.main-section .section-article .article-content .alignItems-example .baseline .hi {
  font-size: 40px;
}
.main-section .section-article .article-content .alignItems-example .baseline .goodbye {
  color: #fefefe;
  font-size: 10px;
}
.main-section .section-article .article-content .alignContent-example .example-flexContainer {
  /* Flex Properties */
  flex-flow: row wrap;
}
.main-section .section-article .article-content .alignContent-example .example-flexContainer .flexContainer-flexItems {
  width: 40px;
  height: 40px;
}
.main-section .section-article .article-content .alignContent-example .flex-start {
  align-content: flex-start;
}
.main-section .section-article .article-content .alignContent-example .flex-end {
  align-content: flex-end;
}
.main-section .section-article .article-content .alignContent-example .center {
  align-content: center;
}
.main-section .section-article .article-content .alignContent-example .stretch {
  align-content: stretch;
}
.main-section .section-article .article-content .alignContent-example .space-around {
  align-content: space-around;
}
.main-section .section-article .article-content .alignContent-example .space-between {
  align-content: space-between;
}
.main-section .section-article .article-content .alignContent-example .space-evenly {
  align-content: space-evenly;
}
.main-section .section-article .article-content .order-example .example-flexContainer {
  width: 400px;
}
.main-section .section-article .article-content .order-example .example-flexContainer .flexContainer-flexItems {
  width: 80px;
  height: 80px;
  /* Flex Properties */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .section-article .article-content .order-example .example-flexContainer .num1 {
  order: 1;
}
.main-section .section-article .article-content .order-example .example-flexContainer .num2 {
  order: 2;
}
.main-section .section-article .article-content .order-example .example-flexContainer .num3 {
  order: 3;
}
.main-section .section-article .article-content .order-example .example-flexContainer .num4 {
  order: 4;
}
.main-section .section-article .article-content .flexGrow-example .example-flexContainer .flexContainer-flexItems {
  width: 40px;
  height: 40px;
  /* Flex-Properties */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .section-article .article-content .flexGrow-example .example-flexContainer .grow1 {
  flex-grow: 1;
}
.main-section .section-article .article-content .flexGrow-example .example-flexContainer .grow2 {
  flex-grow: 2;
}
.main-section .section-article .article-content .flexGrow-example .example-flexContainer .grow5 {
  flex-grow: 5;
}
.main-section .section-article .article-content .flexShrink-example .example-flexContainer .flexContainer-flexItems {
  width: 80px;
  height: 80px;
}
.main-section .section-article .article-content .flexShrink-example .example-flexContainer .shrink1 {
  flex-shrink: 1;
}
.main-section .section-article .article-content .flexShrink-example .example-flexContainer .shrink2 {
  flex-shrink: 2;
}
.main-section .section-article .article-content .flexShrink-example .example-flexContainer .shrink5 {
  flex-shrink: 5;
}
.main-section .section-article .article-content .flexBasis-example .example-flexContainer .flexContainer-flexItems {
  width: 60px;
  height: 60px;
  /* Flex Properties */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .section-article .article-content .flexBasis-example .example-flexContainer .dark {
  font-size: 14px;
}
.main-section .section-article .article-content .flexBasis-example .example-flexContainer .auto {
  flex-basis: auto;
}
.main-section .section-article .article-content .flexBasis-example .example-flexContainer .number {
  flex-basis: 80px;
}
.main-section .section-article .article-content .flexBasis-example .example-flexContainer .zero {
  flex-basis: 0;
}
.main-section .section-article .article-content .flex-example .example-flexContainer .flexContainer-flexItems {
  width: 20px;
  height: 20px;
  /* Flex Properties */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .section-article .article-content .flex-example .example-flexContainer .grow {
  flex: 1 0;
}
.main-section .section-article .article-content .flex-example .example-flexContainer .grow-extra {
  flex: 5 0;
}
.main-section .section-article .article-content .flex-example .example-flexContainer .shrink {
  flex: 0 1;
}
.main-section .section-article .article-content .flex-example .example-flexContainer .basis-num {
  flex: 1 0 40px;
}
.main-section .section-article .article-content .flex-example .example-flexContainer .basis-zero {
  flex: 0 0 0;
}
.main-section .section-article .article-content .flex-example .example-flexContainer .basis-auto {
  flex: 0 0 auto;
}

/* ----- RESTART CSS ----- */
body, section, article, ol, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}