/* ----- Global Variables SASS ----- */

/* Base Colors */
$color_light1: #80d4ff ;
$color_base1: #1510dd;
$color_dark1: #000080;

$color_light2: #b3f0ff;
$color_base2: #009dff;
$color_dark2: #002266;

/* Stock Colors */
$color_white1: #fefefe;
$color_white2: #f0f0f0;

$color_black1: #000;
$color_black2: #343434;

/* Code Colors */
$color_css-selector: #ffd24d;
$color_css-bracket: #eee;
$color_css-coment: #959595;
$color_css-properties: #f2f2f2;

/* Transitions porpertys */
$transition_links: width, border-radius, background-color, color, text-decoration;

/* Shadows Propertys */
$shadow_box-bottomRight: 2px 1px 5px $color_black2;

$shadow_text-bottomRight: 2px 2px 2px $color_black2;
$shadow_text--light-bottomRight: 1px 1px 3px $color_black2;

/* ----- __The Document__ ----- */

.doc {
 background-color: $color_white2;
}

/* ---------- Main Section ---------- */

.doc-main {
 margin: 5px 10px;
 border-top: 3px outset $color_dark2;
 border-bottom: 3px outset $color_dark2;
 border-right: 6px double $color_dark2;
 border-left: 6px double $color_dark2;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-right: 10px;
 padding-left: 10px;

 background-color: $color_white1;

 /* Flex Properties */
 display: flex; /* Flex */
 align-items: flex-start;
}

/* ----- Index of the Document ----- */
.main-index {
 width: 300px;

 margin-right: 5px;
 margin-left: 5px;
 border-radius: 0.5em;
 padding: 10px;

 background-color: $color_base1;

 box-shadow: $shadow_box-bottomRight;

 /* Title of the Index */
 .main-index__title {
  padding-inline-start: 5px;

  color: $color_white2;
  text-shadow: $shadow_text-bottomRight;
 }

 /*List of the index */
 .index-list {
  margin: 5px;
  border-radius: 0.25em;
  padding: 5px;

  background-color: $color_base2;

  box-shadow: $shadow_box-bottomRight;

  /* Flex Properties */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .index-list__title {
   padding-inline-start: 25px;

   color: $color_white2;
   text-shadow: $shadow_text-bottomRight;
  }

  /* Objects in the list "ol > li" */
  .list-object {
   width: 75%;

   margin: 5px;
   border-radius: 0.25em;
   padding-inline-start: 10px;

   background-color: $color_dark1;

   color: $color_white2;
   list-style-position: inside;
   text-shadow: $shadow_text-bottomRight;

   box-shadow: $shadow_box-bottomRight;

   transition: 500ms $transition_links;

   &:hover{
    width: 90%;

    border-radius: 0.5em;

    background-color: $color_light1;

    color: $color_dark1;
    text-decoration: underline $color_dark1 solid;

    .list-object__link{
     color: inherit;
     text-decoration: inherit;
    }
   }

   /* Links in the List Object "li < a" */
   .list-object__link {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

    color: $color_white2;

    display:inline-block;

   }
  }
 }
}


/* ----- Sections - Flexbox ----- */

.main-section {
 margin: 5px 10px;

 /* Articles in the section */ 
 .section-article{
  margin-top: 10px;
  margin-bottom: 10px;

  /* title of the article */
  .section-article__title {
   width: 500px;

   margin-inline-start: 5px;
   border-top-left-radius: 0.5em;
   border-top-right-radius: 0.5em;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-inline-start: 15px;

   background-color: $color_dark1;

   color: $color_white1;
   font-size: 32px;
   font-weight: 800;
   text-shadow: $shadow_text-bottomRight;

   display: inline-block;
  }

  /* --- Content of the article --- */
  .article-content {
   border: 3px outset $color_dark1;
   border-radius: 0.25em;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 5px;
   padding-left: 5px;

   /* -- Paragraphs in the Article -- */
   
   .content-paragraph {
    padding-left: 5px;
    
    color: $color_black1;
    font-size: 16px;
    font-weight: 450;
    line-height: 1.25;
    
    /* Semantic Tags in the paragraph */

    abbr{
     padding: 0 2px;

     font-weight: 1000;
     text-decoration: underline $color_dark1 solid;

     &:hover {
      border-radius: 0.25em;

      background-color: $color_light1;
     }
    }

    i{
     font-size: 18px;
    }

    strong {
     font-weight: 1000;
     text-decoration: underline $color_base1 solid 1px;
    }

   }

    .content-paragraph--semiTitle {
     padding: 5px;
     padding-left: 10px;

     font-size: 18px;
     font-weight: 800;
    }

   /* -- List of the Article -- */

   .content-list {
    width: 70%;

    margin: 0 20px;
    border: 4px solid $color_dark1;
    border-radius: 0.5em;
    padding: 10px;

    background-color: $color_white1;

    box-shadow: $shadow_box-bottomRight;
    list-style-position: inside;
    
    .list-object{
     border: 2px solid $color_base1;
     border-radius: 0.25em;
     border-top-right-radius: 0.5em;
     border-top-left-radius: 0.5em;
     padding-inline-start: 10px;

     background-color: $color_base1;

     box-shadow: $shadow_box-bottomRight;

     &::marker {
      color: $color_light2;
      margin: 5px 0;
     }

     .list-object__title {
      margin: 5px 0;

      color: $color_white1;
      font-size: 20px;
      font-weight: 800;
      text-shadow: $shadow_text-bottomRight;

      display: inline-block; 

      span {
       color: $color_light2;
      }
     }

     .object-paragraph {
      padding: 10px;
      padding-left: 5px;
      
      color: $color_black1;
      font-size: 14px;
      font-weight: 450;
      line-height: 1.25;

      background-color: $color_white1;

      /* Semantic Tags in the paragraph */

      abbr{
       padding: 0 2px;

       font-weight: 1000;
       text-decoration: underline $color_dark1 solid;

       &:hover {
        border-radius: 0.25em;

        background-color: $color_light1;
       }
      }

      i{
       font-size: 16px;
      }

      strong {
       font-weight: 1000;
       text-decoration: underline $color_base1 solid 1px;
      }
     }
    }
   }

   /* -- External Sources of the Article -- */
   /*
    - Images,
    - Videos,
    - Audios,
    - Others...
   */

   .content-source {
    margin: 10px;
    border: 4px solid $color_dark1;
    border-radius: 0.5em;
    padding: 10px;

    background-color: $color_base1;

    /* Flex Properties */
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    
    /* ---- Images ---- */

    /* All Images */
    .content-source__img {
     margin-top: 10px;
     margin-bottom: 0;
     border: 2px solid $color_dark1;
     border-radius: 1em;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 10px;

     background-color: $color_dark1;

     /* Flex Properties */
     flex-grow: 5;

     display: block;
    }

    /* The Underlying Concept Image */
    .content-source--UnderlyingConcept__img {
     width: 512px;
     height: 212px;
    }

    /* Flexbox Supports on Diferents Browsers */
    .content-source--FlexboxSupports__img {
     width: 800px;
     height: 200px;
    }

    /* ---- Text/Cite/Quotes on Sources ---- */
    .source-text {
     border: 2px solid $color_dark1;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 10px;
     
     background-color: $color_white1;

     color: $color_black1;
     font-size: 12px;
     font-weight: 200;

     .source-text__quote {
      color: $color_black2;
      font-weight: 50;
     }

     .source-text__link {
      color: $color_base1;
     }
    }

   }

   /* ----- Code Examples ----- */

   .content-code {
    width: 90%;

    margin: 10px auto;
    border: 2px solid $color_black1;
    border-left: 8px solid $color_dark2;
    padding-bottom: 10px;
    padding-left: 10px;

    background-color: $color_black2;

    .content-code__title {
     width: 250px;
     height: 30px;

     margin-bottom: 10px;
     border: 2px solid $color_dark1;
     border-radius: 0.25em;
     border-bottom-right-radius: 1em;
     padding-inline-start: 20px;

     background-color: $color_dark2;

     color: $color_white2;
     font-size: 28px;

     /* Flex Properties */
     display: flex;

     align-items: center;
     
     abbr {
      text-decoration: none;
     }

    }

    /* ---- Style in CSS's Code ---- */

    /* All the code */
    .code-css {
    }

    /* CSS Selectors */
    .css-selector {
     color: $color_css-selector;
    }
    /* CSS Comments */
    .css-commentary {
     color: $color_css-coment;
    }
    /* CSS Properties */
    .css-properties {
     color: $color_css-properties;
    }
    /* CSS Brackets */
    .css-bracket {
     color: $color_css-bracket;
    }

    /* Code Indetation */
    .code--idented-1 {
     padding-inline-start: 20px;
    }
   }


   /* ----- Examples ----- */

   .content-example {
    width: 80%;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
   }

   /* Example of Flex Container and Flex Items */
   
   .flexContainer-example {

    .example-flexContainer {
     width: 100%;
     height: 200px;

     margin: 5px;
     border: 5px solid $color_dark2;
     border-radius: 0.5em;
     padding: 10px;

     background-color: $color_dark2;

     /* Flex Properties */
     display: flex;
     justify-content: space-evenly;
   
     .example-flexContainer__text{
      color: $color_white1;
      font-size: 32px;
      text-shadow: $shadow_text-bottomRight;

      /* Flex Properties */
      align-self: center;
     }
     .flexContainer-flexItems {
      width: 150px;
     
      padding: 5px;
     
      background-color: $color_base1;

      /* Flex Properties */
      display: flex;
      justify-content: center;
   
      .flexContainer-flexItems__text {
       color: $color_white1;
       font-weight: bold;
       text-shadow: $shadow_text-bottomRight;

       display: block;

       /* Flex Properties */
       align-self: center;
      }
     }
    }
   }

   /* Example of Center Align Things using FlexBox */

   .centerAlign-example {
    padding: 10px;

    background-color: $color_white1;

    .example-flexContainer {
     height: 200px;

     border: 4px dashed $color_dark1;
     border-radius: 0.5em;
     padding: 10px;

     background-color: $color_white1;

     /* Flex Properties */
     display: flex;
     justify-content: center;
     align-items: center;

     .flexContainer-flexItem {
      width: 50px;
      height: 50px;

      border-radius: 0.25em;
      
      background-color: $color_light1;
     }
    }
   }

   /* Example of Aligning Inline-Elements with Flexbox */
   .inlineAlign-example {
    padding: 10px;

    background-color: $color_white1;

    .example-flexContainer {
     height: 200px;

     border: 4px dashed $color_dark1;
     border-radius: 0.5em;

     background-color: $color_white1;

     /* Flex Properties */
     display: flex;

     align-items: center;
    }

    .flexContainer-flexItem {
     width: 20%;
     height: 50px;

     display: inline;
    }

    .light {background-color: $color_light2;}
    .base {background-color: $color_base2;}
    .dark {background-color: $color_dark2;}

   }


   .spacedAlign-example {
    padding: 10px;

    background-color: $color_white1;

    .example-flexContainer {
     height: 200px;

     border: 4px dashed $color_dark1;
     border-radius: 0.5em;

     background-color: $color_white1;

     /* Flex Properties */
     display: flex;
     justify-content: space-around;
     align-items: center;

     .flexContainer-flexItems {
      height: 50px;
      width: 50px;

      border-radius: 0.75em;
     }

     .light {background-color: $color_light2;}
     .dark {background-color: $color_dark2;}
     .base {background-color: $color_base2;}
    }

   }


   /* -/=/=/- SPACE FOR OTHER EXAMPLE -/=/=/- */

  } 
 }
}

/* ----- RESTART CSS ----- */

body,section,article,ol,ul,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;} 
a{text-decoration: none;}
