/* ----- Global Variables SASS ----- */

/* Base Colors */
$color_light1: #80d4ff ;
$color_base1: #1510dd;
$color_dark1: #000080;

$color_light2: #b3f0ff;
$color_base2: #009dff;
$color_dark2: #002266;

/* Stock Colors */
$color_white1: #fefefe;
$color_white2: #f0f0f0;

$color_black1: #000;
$color_black2: #343434;

/* Transitions porpertys */
$transition_links: width, border-radius, background-color, color, text-decoration;

/* Shadows Propertys */
$shadow_box-bottomRight: 2px 1px 4px $color_black2;
$shadow_text-bottomRight: 2px 2px 2px $color_black2;

/* ----- __The Document__ ----- */

.doc {
 background-color: $color_white2;
}

/* ---------- Main Section ---------- */

.doc-main {
 margin: 5px 10px;
 border-top: 3px outset $color_dark2;
 border-bottom: 3px outset $color_dark2;
 border-right: 6px double $color_dark2;
 border-left: 6px double $color_dark2;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-right: 10px;
 padding-left: 10px;

 background-color: $color_white1;

 /* Flex Properties */
 display: flex; /* Flex */
 align-items: flex-start;
}

/* ----- Index of the Document ----- */
.main-index {
 width: 300px;

 margin-right: 5px;
 margin-left: 5px;
 border-radius: 0.5em;
 padding: 10px;

 background-color: $color_base1;

 box-shadow: $shadow_box-bottomRight;

 /* Title of the Index */
 .main-index__title {
  padding-inline-start: 5px;

  color: $color_white2;
  text-shadow: $shadow_text-bottomRight;
 }

 /*List of the index */
 .index-list {
  margin: 5px;
  border-radius: 0.25em;
  padding: 5px;

  background-color: $color_base2;

  box-shadow: $shadow_box-bottomRight;

  /* Flex Properties */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .index-list__title {
   padding-inline-start: 25px;

   color: $color_white2;
   text-shadow: $shadow_text-bottomRight;
  }

  /* Objects in the list "ol > li" */
  .list-object {
   width: 75%;

   margin: 5px;
   border-radius: 0.25em;
   padding-inline-start: 10px;

   background-color: $color_dark1;

   color: $color_white2;
   list-style-position: inside;
   text-shadow: $shadow_text-bottomRight;

   box-shadow: $shadow_box-bottomRight;

   transition: 500ms $transition_links;

   &:hover{
    width: 90%;

    border-radius: 0.5em;

    background-color: $color_light1;

    color: $color_dark1;
    text-decoration: underline $color_dark1 solid;

    .list-object__link{
     color: inherit;
     text-decoration: inherit;
    }
   }

   /* Links in the List Object "li < a" */
   .list-object__link {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

    color: $color_white2;

    display:inline-block;

   }
  }
 }
}


/* ----- Section - Inicio Flexbox ----- */

.main-inicio {
 margin: 5px 10px;

 /* Flex Properties */
 flex-grow: 5;

 /* Articles in the section */ 
 .inicio-article{
  margin-top: 10px;
  margin-bottom: 10px;

  /* title of the article */
  .inicio-article__title {
   width: 500px;

   margin-inline-start: 5px;
   border-top-left-radius: 0.5em;
   border-top-right-radius: 0.5em;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-inline-start: 15px;

   background-color: $color_dark1;

   color: $color_white1;
   font-size: 32px;
   font-weight: 800;
   text-shadow: $shadow_text-bottomRight;

   display: inline-block;
  }

  /* --- Content of the article --- */
  .article-content {
   border: 3px outset $color_dark1;
   border-radius: 0.25em;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 5px;
   padding-left: 5px;

   text-align: justify;

   .content-paragraph {
    padding-left: 5px;
    
    color: $color_black1;
    font-size: 16px;
    font-weight: 450;
    line-height: 1.25;
    text-align-last: left;

    /* Semantic Tags in the paragraph */

    abbr{
     padding: 0 2px;

     font-weight: 1000;
     text-decoration: underline $color_dark1 solid;

     &:hover {
      border-radius: 0.25em;

      background-color: $color_light1;
     }
    }

    i{
     font-size: 18px;
    }

    strong {
     font-weight: 1000;
     text-decoration: underline $color_base1 solid 1px;
    }
   }

   /* Example of Flex Container and Flex Items */
   
   .content-example {
    width: 80%;

    margin: 0 auto;

    .example-flexContainer {
     width: 100%;
     height: 200px;

     margin: 5px;
     border: 5px solid $color_dark2;
     border-radius: 0.5em;
     padding: 10px;

     background-color: $color_dark2;

     /* Flex Properties */
     display: flex;
     justify-content: space-evenly;
   
     .example-flexContainer__text{
      color: $color_white1;
      font-size: 32px;
      text-shadow: $shadow_text-bottomRight;
     }
     .flexContainer-flexItems {
      width: 150px;
     
      padding: 5px;
     
      background-color: $color_base1;
     
      text-align: center;
   
      .flexContainer-flexItems__text {
       margin-top: 50px;
 
       color: $color_white1;
       font-weight: bold;
       text-shadow: $shadow_text-bottomRight;

       display: block;
      }
     }
    }
   }
  } 
 }
}

/* ----- RESTART CSS ----- */

body,section,article,ol,ul,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;} 
a{text-decoration: none;}
