/* ----- Global Variables SASS ----- */

/* Base Colors */
$color_light1: #80d4ff ;
$color_base1: #1510dd;
$color_dark1: #000080;

$color_light2: #b3f0ff;
$color_base2: #009dff;
$color_dark2: #002266;

/* Stock Colors */
$color_white1: #fefefe;
$color_white2: #f0f0f0;

$color_black1: #000;
$color_black2: #343434;

/* Transitions porpertys */
$transition_links: width, border-radius, background-color, color, text-decoration;

/* Shadows Propertys */
$shadow_box-bottomRight: 2px 1px 4px $color_black2;
$shadow_text-bottomRight: 2px 2px 2px $color_black2;

/* ----- __The Document__ ----- */

.doc {
 background-color: $color_white2;
}

/* ---------- Main Section ---------- */

.doc-main {
 margin: 5px 10px;
 border-top: 3px outset $color_dark2;
 border-bottom: 3px outset $color_dark2;
 border-right: 6px double $color_dark2;
 border-left: 6px double $color_dark2;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-right: 10px;
 padding-left: 10px;

 background-color: $color_white1;
}

/* ----- Index of the Document ----- */
.main-index {
 width: 300px;

 margin-right: 20px;
 margin-left: 5px;
 border-radius: 0.5em;
 padding: 10px;

 float: left;

 background-color: $color_base1;

 box-shadow: $shadow_box-bottomRight;

 /* Title of the Index */
 .main-index__title {
  padding-inline-start: 5px;

  color: $color_white2;
  text-shadow: $shadow_text-bottomRight;
 }

 /*List of the index */
 .index-list {
  margin: 5px;
  border-radius: 0.25em;
  padding: 5px;

  background-color: $color_base2;

  box-shadow: $shadow_box-bottomRight;

  .index-list__title {
   padding-inline-start: 25px;

   color: $color_white2;
   text-shadow: $shadow_text-bottomRight;
  }

  /* Objects in the list "ol > li" */
  .list-object {
   width: 75%;

   margin: 5px;
   border-radius: 0.25em;
   padding-inline-start: 10px;

   background-color: $color_dark1;

   color: $color_white2;
   list-style-position: inside;
   text-shadow: $shadow_text-bottomRight;

   box-shadow: $shadow_box-bottomRight;

   transition: 500ms $transition_links;

   &:hover{
    width: 90%;

    border-radius: 0.5em;

    background-color: $color_light1;

    color: $color_dark1;
    text-decoration: underline $color_dark1 solid;

    .list-object__link{
     color: inherit;
     text-decoration: inherit;
    }
   }

   /* Links in the List Object "li < a" */
   .list-object__link {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

    color: $color_white2;

    display:inline-block;

   }
  }
 }
}



/*
 Arreglar:
  Nombres clases, XXXXX
  cambiar a flex,
  usar colores,
  mejorar texto
*/

.ejemplo-flexContainer {
 width: 60%;
 height: 200px;

 margin: 5px auto;
 border: 5px solid #000;
 padding: 0;

 background-color: #000057;

 display: flex;

 text-align: center;
}

.ejemplo-flexContainer__text {
 margin: 10px;

 color: #eee;
 writing-mode: vertical-lr;
 font-weight: bolder;
}


.ejemplo-flexItems {
 width: 150px;
 height: 150px;

 margin: 20px 40px;
 padding: 5px;

 background-color: #4030f0;

 text-align: center;
}

.ejemplo-flexItems__text {
 margin-top: 50px;
 
 color: #eee;
 font-weight: bold;

 display: block;
}

/* ----- RESTART CSS ----- */

body,section,article,ol,ul,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;} 
a{text-decoration: none;}
